<ion-item [routerLink]="['/', 'offers', 'tabs', 'offers', place.id]" detail>
  <ion-thumbnail slot="start">
    <ion-img [src]="place.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h1>{{ place.title }}</h1>
    <div class="offer-details">
      <ion-icon name="calendar" color="secondary"></ion-icon>
      <ion-text color="primary" class="space-left">{{ place.availableFrom | date }}</ion-text>
      <span>to</span>
      <ion-icon name="calendar" color="secondary" class="space-left"></ion-icon>
      <ion-text color="primary" class="space-left">{{ place.availableTo | date }}</ion-text>
    </div>
  </ion-label>
</ion-item>